<h3>Counter</h3>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCountAsync">Click me</button>
@code {
    private int currentCount = 0;

    private async Task IncrementCountAsync()
    {
        currentCount++;
    }
}
