@page "/webapi"
@attribute [Authorize(Roles = "Admin")]
<ul>
    @foreach(var author in Authors)
    {
        <li>@author.Name</li>
    }
</ul>

<MudButton EndIcon="@Icons.Material.Filled.Send" Variant="Variant.Outlined" Color="Color.Success" OnClick="Alert">Alert</MudButton>

<button onclick="returnArrayAsync()">
    trigger .net from js
</button>
